body{
    margin: 0;
    text-align: center;
}
header{
    height:90px;
}
#header-contaner{
    height: 90px;
    width: 100%;
    position: fixed;
    text-align: center;

}
#header-text{
   height: 90px;
   width: 100%;
   border-bottom: solid 1px;
}
#header-text p{
    position: relative;
    padding-top: 22px;
    font-size: 25px;
    font-family:fantasy;
    color: #707070;
}
