body{
    margin: 0 auto;
}

.header {
  background-color: black;
  color: #fff;
  height: 60px;
  margin: 0%;
}
.header-logo {
   background-image: url(../img/i-img1080x800-15647327727jdqfh6116.gif);
   background-size: 120px;
   height: 60px;
   width: 60px;
   position: left;
   display: inline-block;
   position: relative;
   top: -16px;
}
.header-text{
   padding-left: 30px; 
   display:inline-block;
}
.sns{
    padding-top:8px;
    padding-left: 900px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    

}
.instagram {
    background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
    border-radius: 4px; 
    margin-right: 10px;
  }
  .twitter {
    background-color: #55acee;
    border-radius: 4px;

  }
.main{
    height: 7500px;
    background-color: gray;
    text-align: center;
    margin: 0%;
}
.nicky{
    position: relative;
    top:1000px;
    transform: translate3d(0, -10px, 0);
    transition: 1s;
    opacity: 0;
}
.nicky.animated {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.nicky img{
    width: 700px;
    height: 400px;
}
.steve{
    position: relative;
    top:2000px;
    transition: 1s;
    opacity: 0;
    transform: translate3d(0, -10px, 0);
}
.steve.animated {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.steve img{
    width: 700px;
    height: 400px;
}
.axwell{
    position: relative;
    top:3000px;
    transition: 1s;
    opacity: 0;
    transform: translate3d(0, -10px, 0);
}
.axwell.animated {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.axwell img{
    width: 700px;
    height: 400px;
}
.yellow{
    position: relative;
    top:4000px;
    transition: 1s;
    opacity: 0;
    transform: translate3d(0, -10px, 0);
}
.yellow.animated {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.yellow img{
    width: 700px;
    height: 420px;
}
.snake{
    position: relative;
    top:5000px;
    transition: 1s;
    opacity: 0;
    transform: translate3d(0, -10px, 0);
}
.snake.animated {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.snake img{
    width: 700px;
    height: 420px;
}
