body{
    margin: 0 auto;
}

.header {
  background-color: black;
  color: #fff;
  height: 60px;
  margin: 0%;
}
.header-logo {
   background-image: url(../img/i-img1080x800-15647327727jdqfh6116.gif);
   background-size: 120px;
   height: 60px;
   width: 60px;
   position: left;
   display: inline-block;
   position: relative;
   top: -16px;
}
.header-text{
   padding-left: 30px; 
   display:inline-block;

}
.main{
   margin: 0 auto;
   position: relative;
   top:-16px;
   height: 790px;
   text-align: center;
   background-position: center;
   background-image: url(../img/e445b5580e9d3b099b15597207e51c64.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.main-logo{
    background-image: url(../img/PR127R-Bittersweet-Remixes_COVER_LQ.jpg);
    background-size: 400px;
    height: 400px;
    width: 400px;
    text-align: center;
    margin-left:  auto;
    margin-right: auto;
    position: relative;
    top:150px;
    background-repeat: no-repeat;
    display:none;


}
.text{
    background-color: #fff;
    width: 350px;
    position: relative;
    position: left;
    height: 25px;
    top:12px;
    right: 45px;
    
}
text p{
    font-size: 25px;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    
}
.main-sns{
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    position: relative;
    top:210px;
}
.instagram {
    background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
    border-radius: 4px; 
    margin-right: 10px;
  }
  .twitter {
    background-color: #55acee;
    border-radius: 4px;

  }
